---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import SimpleAnalytics from "../components/SimpleAnalytics.astro";
import PostList from "../components/PostList.astro";
import { getPostsByLanguage } from "../utils/content";
import { DEFAULT_LOCALE } from "../i18n/config";
import { getMessages } from "../i18n";

const posts = (await getPostsByLanguage(DEFAULT_LOCALE)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const messages = getMessages(DEFAULT_LOCALE);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${messages.site.title} by ${messages.site.author}`}
      description={messages.site.description}
    />
  </head>
  <body>
    <Header locale={DEFAULT_LOCALE} />
    <Container>
      <main>
        <section>
          <PostList posts={posts} locale={DEFAULT_LOCALE} />
        </section>
      </main>
    </Container>
    <Footer />
    <SimpleAnalytics />
  </body>
</html>
